/***
  Book

  ## Examples
  ```
  <div class="book">
      <div class="book__info">
          <div class="book__poster">
              <img src="images/placeholder.png" alt=""/>
          </div>
          <h1 class="book__title">Самонаблюдение, иcходя из того, что однократно.</h1>
      </div>
  </div>
  ```

$book-breakpoint: 600px !default
$book-poster-width: 140px !default
$book-poster-padding: 20px !default

$book-shadow: 0 3px 2px -2px rgba(black, .3)

.book
  clear: both

  +clearfix
  &__title
    margin-top: 5px
  &__badge
    text-align: center
    margin-top: 10px

  &__poster
    width: $book-poster-width
    height: 200px
    margin: 0 auto 1.5 * $book-poster-padding
    background-color: #f9f9f9
    box-shadow: $book-shadow
    img
      width: 100%
      height: 100%
  &__title, &__author, &__btns, &__readers
    text-align: center
  &__info
    margin-top: 0
  &__actions
    margin-top: $book-poster-padding

  +min($book-breakpoint)

    &__badge
      text-align: left
      display: inline-block
      .badge
        vertical-align: top
        margin-top: .3em

    &__poster + &__info
      margin-left: $book-poster-padding + $book-poster-width
    &__poster
      float: left
      margin-top: 0
      margin-bottom: 0
    &__title, &__author, &__btns, &__readers
      text-align: left
    &__btns, &__readers
      display: inline-block
      vertical-align: middle
    &__readers
      margin-left: 10px